In [7]:
import numpy as np
import pandas as pd
import matplotlib as plt

from datetime import datetime, timedelta, date

In [8]:
BA1Y = pd.read_csv(r"D:\Programacion proyectos\Data proyect\CSV crudo\BA1Y.csv")
BA1Y

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Programacion proyectos\\Data proyect\\CSV crudo\\BA1Y.csv'

In [ ]:
BA1Y.drop(["Unnamed: 6", "Unnamed: 7", "Unnamed: 8"], axis='columns', inplace=True)
BA1Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     178 non-null    object
 1   Último    178 non-null    float64
 2   Apertura  178 non-null    object
 3   Máximo    178 non-null    object
 4   Mínimo    178 non-null    object
 5   % var.    178 non-null    object
dtypes: float64(1), object(5)
memory usage: 8.5+ KB

### Acomodando la columna fecha
### Fixing date column

In [ ]:
Fecha = list(BA1Y["Fecha"])
print(Fecha)

for i in range(len(Fecha)):
    Fecha[i] = Fecha[i].replace(".", " ")
    Fecha[i] = datetime.strptime(Fecha[i], "%d %m %Y").date()
    
    #day, month, year = Fecha[i].split(".")
    #Fecha[i] = datetime(int(year), int(month), int(day)).date()

Fecha = pd.to_datetime(Fecha, format="%Y %m %d")

Fecha = Fecha.sort_values(ascending=True)

print(Fecha)
print(type(Fecha[0]))

['01.01.2009', '01.01.2010', '01.01.2011', '01.01.2012', '01.01.2013', '01.01.2014', '01.01.2015', '01.01.2016', '01.01.2017', '01.01.2018', '01.01.2019', '01.01.2020', '01.01.2021', '01.01.2022', '01.01.2023', '01.02.2009', '01.02.2010', '01.02.2011', '01.02.2012', '01.02.2013', '01.02.2014', '01.02.2015', '01.02.2016', '01.02.2017', '01.02.2018', '01.02.2019', '01.02.2020', '01.02.2021', '01.02.2022', '01.02.2023', '01.03.2009', '01.03.2010', '01.03.2011', '01.03.2012', '01.03.2013', '01.03.2014', '01.03.2015', '01.03.2016', '01.03.2017', '01.03.2018', '01.03.2019', '01.03.2020', '01.03.2021', '01.03.2022', '01.03.2023', '01.04.2009', '01.04.2010', '01.04.2011', '01.04.2012', '01.04.2013', '01.04.2014', '01.04.2015', '01.04.2016', '01.04.2017', '01.04.2018', '01.04.2019', '01.04.2020', '01.04.2021', '01.04.2022', '01.04.2023', '01.05.2009', '01.05.2010', '01.05.2011', '01.05.2012', '01.05.2013', '01.05.2014', '01.05.2015', '01.05.2016', '01.05.2017', '01.05.2018', '01.05.2019', '01.05.2020', '01.05.2021', '01.05.2022', '01.06.2009', '01.06.2010', '01.06.2011', '01.06.2012', '01.06.2013', '01.06.2014', '01.06.2015', '01.06.2016', '01.06.2017', '01.06.2018', '01.06.2019', '01.06.2020', '01.06.2021', '01.06.2022', '01.07.2008', '01.07.2009', '01.07.2010', '01.07.2011', '01.07.2012', '01.07.2013', '01.07.2014', '01.07.2015', '01.07.2016', '01.07.2017', '01.07.2018', '01.07.2019', '01.07.2020', '01.07.2021', '01.07.2022', '01.08.2008', '01.08.2009', '01.08.2010', '01.08.2011', '01.08.2012', '01.08.2013', '01.08.2014', '01.08.2015', '01.08.2016', '01.08.2017', '01.08.2018', '01.08.2019', '01.08.2020', '01.08.2021', '01.08.2022', '01.09.2008', '01.09.2009', '01.09.2010', '01.09.2011', '01.09.2012', '01.09.2013', '01.09.2014', '01.09.2015', '01.09.2016', '01.09.2017', '01.09.2018', '01.09.2019', '01.09.2020', '01.09.2021', '01.09.2022', '01.10.2008', '01.10.2009', '01.10.2010', '01.10.2011', '01.10.2012', '01.10.2013', '01.10.2014', '01.10.2015', '01.10.2016', '01.10.2017', '01.10.2018', '01.10.2019', '01.10.2020', '01.10.2021', '01.10.2022', '01.11.2008', '01.11.2009', '01.11.2010', '01.11.2011', '01.11.2012', '01.11.2013', '01.11.2014', '01.11.2015', '01.11.2016', '01.11.2017', '01.11.2018', '01.11.2019', '01.11.2020', '01.11.2021', '01.11.2022', '01.12.2008', '01.12.2009', '01.12.2010', '01.12.2011', '01.12.2012', '01.12.2013', '01.12.2014', '01.12.2015', '01.12.2016', '01.12.2017', '01.12.2018', '01.12.2019', '01.12.2020', '01.12.2021', '01.12.2022']
DatetimeIndex(['2008-07-01', '2008-08-01', '2008-09-01', '2008-10-01',
               '2008-11-01', '2008-12-01', '2009-01-01', '2009-02-01',
               '2009-03-01', '2009-04-01',
               ...
               '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01',
               '2022-11-01', '2022-12-01', '2023-01-01', '2023-02-01',
               '2023-03-01', '2023-04-01'],
              dtype='datetime64[ns]', length=178, freq=None)
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
BA1Y["Fecha"] = Fecha
type(BA1Y["Fecha"])

pandas.core.series.Series

### Areglando las columnas de apertura, maximo, minimo y variacion
### Fixing open, close, max, min and variation columns

##### First variation

In [ ]:
new_var = list(BA1Y["% var."])
print(len(new_var))
print(new_var)

178
['39.47%', '-35.84%', '-9.74%', '4.63%', '-5.59%', '-22.22%', '-31.94%', '-26.43%', '-6.23%', '9.21%', '-1.88%', '-8.72%', '-25.00%', '99.74%', '-0.99%', '42.98%', '5.34%', '0.00%', '42.48%', '13.33%', '17.58%', '31.29%', '33.48%', '4.30%', '9.12%', '-0.39%', '-31.93%', '-5.95%', '31.81%', '6.91%', '-19.79%', '30.07%', '13.28%', '6.83%', '-15.69%', '11.21%', '18.65%', '-1.50%', '28.37%', '0.97%', '-5.55%', '-84.54%', '-20.25%', '59.05%', '-7.70%', '-14.99%', '-1.04%', '-31.50%', '4.07%', '-20.16%', '-10.08%', '1.31%', '-6.41%', '4.48%', '7.13%', '-0.79%', '9.87%', '-15.87%', '27.99%', '0.68%', '-3.01%', '-15.75%', '-12.30%', '0.56%', '33.01%', '-7.48%', '7.76%', '21.08%', '7.64%', '-0.58%', '-6.97%', '3.59%', '-18.87%', '-0.24%', '7.54%', '-1.56%', '17.07%', '15.00%', '6.57%', '8.08%', '6.80%', '-34.23%', '7.19%', '4.31%', '-12.91%', '-7.51%', '65.12%', '35.90%', '-3.39%', '-1.86%', '-10.44%', '6.77%', '-21.74%', '-23.97%', '6.54%', '18.35%', '12.90%', '-1.29%', '4.09%', '3.94%', '-26.87%', '-7.04%', '6.59%', '-4.57%', '-11.55%', '-17.67%', '-50.73%', '-1.85%', '9.01%', '-21.93%', '20.89%', '19.44%', '0.25%', '1.57%', '-11.62%', '4.27%', '3.03%', '17.11%', '-17.02%', '-8.79%', '7.73%', '6.93%', '-2.52%', '-25.62%', '11.24%', '-17.28%', '-0.50%', '6.12%', '4.73%', '-0.28%', '-2.46%', '16.18%', '14.76%', '-25.49%', '-8.33%', '-16.73%', '0.00%', '12.26%', '6.67%', '0.00%', '4.75%', '10.29%', '9.92%', '3.66%', '-13.52%', '6.72%', '60.76%', '16.01%', '-33.38%', '-29.55%', '24.88%', '0.00%', '-3.45%', '23.96%', '23.23%', '47.13%', '19.27%', '13.23%', '0.98%', '4.58%', '-15.75%', '74.02%', '2.05%', '-61.40%', '76.61%', '2.30%', '0.00%', '-14.88%', '-1.68%', '77.05%', '25.87%', '4.87%', '7.35%', '-3.34%', '-1.06%', '4.67%', '73.76%', '0.02%']

In [ ]:
inter = 0
print(new_var)
for i in range(0, len(new_var)):
    new_var[i] = new_var[i].split("%")
    if(inter == 0):
        print(new_var)
    
    new_var[i] = new_var[i][0]
    if(inter == 0):
        inter = 1
        print(new_var)

    new_var[i] = round(float(new_var[i])/100, 4)
print("\n")
print(new_var)

['39.47%', '-35.84%', '-9.74%', '4.63%', '-5.59%', '-22.22%', '-31.94%', '-26.43%', '-6.23%', '9.21%', '-1.88%', '-8.72%', '-25.00%', '99.74%', '-0.99%', '42.98%', '5.34%', '0.00%', '42.48%', '13.33%', '17.58%', '31.29%', '33.48%', '4.30%', '9.12%', '-0.39%', '-31.93%', '-5.95%', '31.81%', '6.91%', '-19.79%', '30.07%', '13.28%', '6.83%', '-15.69%', '11.21%', '18.65%', '-1.50%', '28.37%', '0.97%', '-5.55%', '-84.54%', '-20.25%', '59.05%', '-7.70%', '-14.99%', '-1.04%', '-31.50%', '4.07%', '-20.16%', '-10.08%', '1.31%', '-6.41%', '4.48%', '7.13%', '-0.79%', '9.87%', '-15.87%', '27.99%', '0.68%', '-3.01%', '-15.75%', '-12.30%', '0.56%', '33.01%', '-7.48%', '7.76%', '21.08%', '7.64%', '-0.58%', '-6.97%', '3.59%', '-18.87%', '-0.24%', '7.54%', '-1.56%', '17.07%', '15.00%', '6.57%', '8.08%', '6.80%', '-34.23%', '7.19%', '4.31%', '-12.91%', '-7.51%', '65.12%', '35.90%', '-3.39%', '-1.86%', '-10.44%', '6.77%', '-21.74%', '-23.97%', '6.54%', '18.35%', '12.90%', '-1.29%', '4.09%', '3.94%', '-26.87%', '-7.04%', '6.59%', '-4.57%', '-11.55%', '-17.67%', '-50.73%', '-1.85%', '9.01%', '-21.93%', '20.89%', '19.44%', '0.25%', '1.57%', '-11.62%', '4.27%', '3.03%', '17.11%', '-17.02%', '-8.79%', '7.73%', '6.93%', '-2.52%', '-25.62%', '11.24%', '-17.28%', '-0.50%', '6.12%', '4.73%', '-0.28%', '-2.46%', '16.18%', '14.76%', '-25.49%', '-8.33%', '-16.73%', '0.00%', '12.26%', '6.67%', '0.00%', '4.75%', '10.29%', '9.92%', '3.66%', '-13.52%', '6.72%', '60.76%', '16.01%', '-33.38%', '-29.55%', '24.88%', '0.00%', '-3.45%', '23.96%', '23.23%', '47.13%', '19.27%', '13.23%', '0.98%', '4.58%', '-15.75%', '74.02%', '2.05%', '-61.40%', '76.61%', '2.30%', '0.00%', '-14.88%', '-1.68%', '77.05%', '25.87%', '4.87%', '7.35%', '-3.34%', '-1.06%', '4.67%', '73.76%', '0.02%']
[['39.47', ''], '-35.84%', '-9.74%', '4.63%', '-5.59%', '-22.22%', '-31.94%', '-26.43%', '-6.23%', '9.21%', '-1.88%', '-8.72%', '-25.00%', '99.74%', '-0.99%', '42.98%', '5.34%', '0.00%', '42.48%', '13.33%', '17.58%', '31.29%', '33.48%', '4.30%', '9.12%', '-0.39%', '-31.93%', '-5.95%', '31.81%', '6.91%', '-19.79%', '30.07%', '13.28%', '6.83%', '-15.69%', '11.21%', '18.65%', '-1.50%', '28.37%', '0.97%', '-5.55%', '-84.54%', '-20.25%', '59.05%', '-7.70%', '-14.99%', '-1.04%', '-31.50%', '4.07%', '-20.16%', '-10.08%', '1.31%', '-6.41%', '4.48%', '7.13%', '-0.79%', '9.87%', '-15.87%', '27.99%', '0.68%', '-3.01%', '-15.75%', '-12.30%', '0.56%', '33.01%', '-7.48%', '7.76%', '21.08%', '7.64%', '-0.58%', '-6.97%', '3.59%', '-18.87%', '-0.24%', '7.54%', '-1.56%', '17.07%', '15.00%', '6.57%', '8.08%', '6.80%', '-34.23%', '7.19%', '4.31%', '-12.91%', '-7.51%', '65.12%', '35.90%', '-3.39%', '-1.86%', '-10.44%', '6.77%', '-21.74%', '-23.97%', '6.54%', '18.35%', '12.90%', '-1.29%', '4.09%', '3.94%', '-26.87%', '-7.04%', '6.59%', '-4.57%', '-11.55%', '-17.67%', '-50.73%', '-1.85%', '9.01%', '-21.93%', '20.89%', '19.44%', '0.25%', '1.57%', '-11.62%', '4.27%', '3.03%', '17.11%', '-17.02%', '-8.79%', '7.73%', '6.93%', '-2.52%', '-25.62%', '11.24%', '-17.28%', '-0.50%', '6.12%', '4.73%', '-0.28%', '-2.46%', '16.18%', '14.76%', '-25.49%', '-8.33%', '-16.73%', '0.00%', '12.26%', '6.67%', '0.00%', '4.75%', '10.29%', '9.92%', '3.66%', '-13.52%', '6.72%', '60.76%', '16.01%', '-33.38%', '-29.55%', '24.88%', '0.00%', '-3.45%', '23.96%', '23.23%', '47.13%', '19.27%', '13.23%', '0.98%', '4.58%', '-15.75%', '74.02%', '2.05%', '-61.40%', '76.61%', '2.30%', '0.00%', '-14.88%', '-1.68%', '77.05%', '25.87%', '4.87%', '7.35%', '-3.34%', '-1.06%', '4.67%', '73.76%', '0.02%']
['39.47', '-35.84%', '-9.74%', '4.63%', '-5.59%', '-22.22%', '-31.94%', '-26.43%', '-6.23%', '9.21%', '-1.88%', '-8.72%', '-25.00%', '99.74%', '-0.99%', '42.98%', '5.34%', '0.00%', '42.48%', '13.33%', '17.58%', '31.29%', '33.48%', '4.30%', '9.12%', '-0.39%', '-31.93%', '-5.95%', '31.81%', '6.91%', '-19.79%', '30.07%', '13.28%', '6.83%', '-15.69%', '11.21%', '18.65%', '-1.50%', '28.37%', '0.97%', '-5.55%', '-84.54%', '-20.25%', '59.05%', '-7.70%', '-14.99%', '-1.04%', '-31.50%', '4.07%', '-20.16%', '-10.08%', '1.31%', '-6.41%', '4.48%', '7.13%', '-0.79%', '9.87%', '-15.87%', '27.99%', '0.68%', '-3.01%', '-15.75%', '-12.30%', '0.56%', '33.01%', '-7.48%', '7.76%', '21.08%', '7.64%', '-0.58%', '-6.97%', '3.59%', '-18.87%', '-0.24%', '7.54%', '-1.56%', '17.07%', '15.00%', '6.57%', '8.08%', '6.80%', '-34.23%', '7.19%', '4.31%', '-12.91%', '-7.51%', '65.12%', '35.90%', '-3.39%', '-1.86%', '-10.44%', '6.77%', '-21.74%', '-23.97%', '6.54%', '18.35%', '12.90%', '-1.29%', '4.09%', '3.94%', '-26.87%', '-7.04%', '6.59%', '-4.57%', '-11.55%', '-17.67%', '-50.73%', '-1.85%', '9.01%', '-21.93%', '20.89%', '19.44%', '0.25%', '1.57%', '-11.62%', '4.27%', '3.03%', '17.11%', '-17.02%', '-8.79%', '7.73%', '6.93%', '-2.52%', '-25.62%', '11.24%', '-17.28%', '-0.50%', '6.12%', '4.73%', '-0.28%', '-2.46%', '16.18%', '14.76%', '-25.49%', '-8.33%', '-16.73%', '0.00%', '12.26%', '6.67%', '0.00%', '4.75%', '10.29%', '9.92%', '3.66%', '-13.52%', '6.72%', '60.76%', '16.01%', '-33.38%', '-29.55%', '24.88%', '0.00%', '-3.45%', '23.96%', '23.23%', '47.13%', '19.27%', '13.23%', '0.98%', '4.58%', '-15.75%', '74.02%', '2.05%', '-61.40%', '76.61%', '2.30%', '0.00%', '-14.88%', '-1.68%', '77.05%', '25.87%', '4.87%', '7.35%', '-3.34%', '-1.06%', '4.67%', '73.76%', '0.02%']


[0.3947, -0.3584, -0.0974, 0.0463, -0.0559, -0.2222, -0.3194, -0.2643, -0.0623, 0.0921, -0.0188, -0.0872, -0.25, 0.9974, -0.0099, 0.4298, 0.0534, 0.0, 0.4248, 0.1333, 0.1758, 0.3129, 0.3348, 0.043, 0.0912, -0.0039, -0.3193, -0.0595, 0.3181, 0.0691, -0.1979, 0.3007, 0.1328, 0.0683, -0.1569, 0.1121, 0.1865, -0.015, 0.2837, 0.0097, -0.0555, -0.8454, -0.2025, 0.5905, -0.077, -0.1499, -0.0104, -0.315, 0.0407, -0.2016, -0.1008, 0.0131, -0.0641, 0.0448, 0.0713, -0.0079, 0.0987, -0.1587, 0.2799, 0.0068, -0.0301, -0.1575, -0.123, 0.0056, 0.3301, -0.0748, 0.0776, 0.2108, 0.0764, -0.0058, -0.0697, 0.0359, -0.1887, -0.0024, 0.0754, -0.0156, 0.1707, 0.15, 0.0657, 0.0808, 0.068, -0.3423, 0.0719, 0.0431, -0.1291, -0.0751, 0.6512, 0.359, -0.0339, -0.0186, -0.1044, 0.0677, -0.2174, -0.2397, 0.0654, 0.1835, 0.129, -0.0129, 0.0409, 0.0394, -0.2687, -0.0704, 0.0659, -0.0457, -0.1155, -0.1767, -0.5073, -0.0185, 0.0901, -0.2193, 0.2089, 0.1944, 0.0025, 0.0157, -0.1162, 0.0427, 0.0303, 0.1711, -0.1702, -0.0879, 0.0773, 0.0693, -0.0252, -0.2562, 0.1124, -0.1728, -0.005, 0.0612, 0.0473, -0.0028, -0.0246, 0.1618, 0.1476, -0.2549, -0.0833, -0.1673, 0.0, 0.1226, 0.0667, 0.0, 0.0475, 0.1029, 0.0992, 0.0366, -0.1352, 0.0672, 0.6076, 0.1601, -0.3338, -0.2955, 0.2488, 0.0, -0.0345, 0.2396, 0.2323, 0.4713, 0.1927, 0.1323, 0.0098, 0.0458, -0.1575, 0.7402, 0.0205, -0.614, 0.7661, 0.023, 0.0, -0.1488, -0.0168, 0.7705, 0.2587, 0.0487, 0.0735, -0.0334, -0.0106, 0.0467, 0.7376, 0.0002]

In [ ]:
BA1Y = BA1Y.assign(Variation=new_var)
BA1Y["Variation"]
BA1Y

         Fecha  Último Apertura  Máximo  Mínimo   % var.  Variation
0   2008-07-01   0.477   0,3320  0,5020  0,3220   39.47%     0.3947
1   2008-08-01   0.281   0,4430  0,4630  0,2760  -35.84%    -0.3584
2   2008-09-01   0.241   0,2640  0,2920  0,2310   -9.74%    -0.0974
3   2008-10-01   0.113   0,1080  0,1160  0,0930    4.63%     0.0463
4   2008-11-01   0.135   0,1430  0,1530  0,1300   -5.59%    -0.0559
..         ...     ...      ...     ...     ...      ...        ...
173 2022-12-01  26.010     26.8   26.98   25.75   -3.34%    -0.0334
174 2023-01-01  15.820    16.45    16.3   15.05   -1.06%    -0.0106
175 2023-02-01   0.112   0,1090  0,1220  0,0860    4.67%     0.0467
176 2023-03-01   0.384   0,2690  0,3840  0,2360   73.76%     0.7376
177 2023-04-01  47.330    47.84   47.27    45.8    0.02%     0.0002

[178 rows x 7 columns]

##### now: Open, min, max

In [ ]:
################################## Apertua ##################################
Apertura = pd.array(BA1Y['Apertura'])
print(type(Apertura[0]))
print(Apertura)
for i in range(0, len(Apertura)):
    Apertura[i] = Apertura[i].replace(",", ".")
Apertura = Apertura.astype(float)

print(type(Apertura[0]))
print(Apertura)
################################## Minimo ##################################
Minimo = pd.array(BA1Y['Mínimo'])
print(type(Minimo[0]))
print(Minimo)
for i in range(0, len(Minimo)):
    Minimo[i] = Minimo[i].replace(",", ".")
Minimo = Minimo.astype(float)

print(type(Minimo[0]))
print(Minimo)
################################## Maximo ##################################
Maximo = pd.array(BA1Y['Máximo'])
print(type(Maximo[0]))
print(Maximo)
for i in range(0, len(Maximo)):
    Maximo[i] = Maximo[i].replace(",", ".")
Maximo = Maximo.astype(float)

print(type(Maximo[0]))
print(Maximo)

<class 'str'>
<PandasArray>
['0,3320', '0,4430', '0,2640', '0,1080', '0,1430', '0,1180', '0,2190',
 '0,6040', '0,8490',  '17.34',
 ...
 '0,1180', '0,1230', '0,4860', '0,7770',  '16.15',   '26.8',  '16.45',
 '0,1090', '0,2690',  '47.84']
Length: 178, dtype: object
<class 'numpy.float64'>
[ 0.332  0.443  0.264  0.108  0.143  0.118  0.219  0.604  0.849 17.34
 26.31  15.79   0.114  0.397 47.65   0.482  0.283  0.241  0.113  0.135
  0.09   0.145  0.445  0.831 18.97  25.46  14.57   0.086  0.795 47.11
  0.682  0.291  0.241  0.161  0.155  0.103  0.193  0.599  0.932 20.69
 25.46   0.993  0.084 10.47  50.4    0.537  0.382  0.271  0.172  0.129
  0.121  0.262  0.586 10.32  20.98  23.95   0.183  0.068 16.37  43.011
  0.47   0.381  0.192  0.179  0.107  0.108  0.227  0.555 10.63  22.47
 23.82   0.193  0.051 20.69   0.456  0.321  0.164  0.18   0.137  0.101
  0.25   0.68  11.53  22.25  22.26   0.188  0.053 20.79  23.23   0.568
  0.323  0.192  0.207  0.146  0.103  0.278  0.442 12.33  23.2   19.38
  0.173  0.076 27.74  22.49   0.502  0.283  0.205  0.162  0.111  0.114
  0.324  0.524 12.12  24.19  20.11   0.129  0.071 29.77  21.56   0.426
  0.238  0.101  0.159  0.121  0.094  0.38   0.608 12.27  24.45  17.65
  0.134  0.073 35.36  17.59   0.382  0.253  0.108  0.155  0.088  0.098
  0.317  0.603 13.1   25.71  17.65   0.124  0.081 40.    13.15   0.363
  0.204  0.108  0.176  0.095  0.098  0.331  0.78  14.29  26.65  15.28
  0.134  0.14  46.74   0.889  0.248  0.258  0.108  0.168  0.118  0.123
  0.486  0.777 16.15  26.8   16.45   0.109  0.269 47.84 ]
<class 'str'>
<PandasArray>
['0,3220', '0,2760', '0,2310', '0,0930', '0,1300', '0,0900', '0,1430',
 '0,4000', '0,7360',  '17.32',
 ...
 '0,1100', '0,1150', '0,4680', '0,7720',  '16.07',  '25.75',  '15.05',
 '0,0860', '0,2360',   '45.8']
Length: 178, dtype: object
<class 'numpy.float64'>
[3.2200e-01 2.7600e-01 2.3100e-01 9.3000e-02 1.3000e-01 9.0000e-02
 1.4300e-01 4.0000e-01 7.3600e-01 1.7320e+01 2.4990e+01 1.4440e+01
 8.1000e-02 3.7600e-01 4.6440e+01 4.5200e-01 2.6800e-01 2.3600e-01
 1.1300e-01 1.3300e-01 9.0000e-02 1.4300e-01 4.2800e-01 7.7200e-01
 1.8260e+01 2.5240e+01 9.6200e-01 5.3000e-02 7.2600e-01 4.6310e+01
 5.3700e-01 2.8900e-01 1.9700e-01 1.5600e-01 1.2600e-01 1.0000e-01
 1.9000e-01 5.8500e-01 9.1600e-01 1.9870e+01 2.3930e+01 9.7000e-02
 5.8000e-02 8.6500e-01 4.0250e+01 4.5500e-01 3.7400e-01 1.8700e-01
 1.5600e-01 1.0300e-01 9.1000e-02 1.9200e-01 4.8800e-01 9.7700e-01
 2.0480e+01 2.3820e+01 9.6600e-02 5.1000e-02 1.6180e+01 4.3011e+01
 4.1800e-01 2.9100e-01 1.5700e-01 1.7200e-01 1.0100e-01 7.6000e-02
 1.8700e-01 4.8300e-01 1.0630e+01 2.1450e+01 2.2110e+01 1.2700e-01
 4.1000e-02 1.8930e+01 4.0800e-01 2.5500e-01 1.3600e-01 1.6900e-01
 1.1400e-01 8.1000e-02 2.1500e-01 3.9100e-01 1.1450e+01 2.2250e+01
 1.8890e+01 1.5500e-01 4.1000e-02 2.0680e+01 2.0320e+01 4.2300e-01
 2.4200e-01 1.3100e-01 1.5600e-01 9.1000e-02 8.3000e-02 2.2000e-01
 4.1700e-01 1.1910e+01 2.3080e+01 1.8840e+01 1.1200e-01 6.3000e-02
 2.6790e+01 2.0100e+01 3.9200e-01 2.3300e-01 6.6000e-02 1.5400e-01
 1.0400e-01 7.8000e-02 3.0600e-01 4.9600e-01 1.1960e+01 2.3990e+01
 1.6990e+01 1.1200e-01 6.1000e-02 2.9320e+01 1.3100e+01 3.1900e-01
 2.1800e-01 7.1000e-02 1.5200e-01 8.3000e-02 8.6000e-02 3.0200e-01
 5.5500e-01 1.1990e+01 2.4450e+01 1.6970e+01 1.1200e-01 6.6000e-02
 3.4310e+01 9.9200e-01 3.1600e-01 1.9600e-01 7.8000e-02 1.5300e-01
 8.8000e-02 6.5000e-02 2.0700e-01 5.8800e-01 1.2890e+01 2.5710e+01
 1.5210e+01 1.1400e-01 7.6000e-02 3.9050e+01 7.9500e-01 1.7000e-01
 1.9600e-01 8.1000e-02 1.6600e-01 9.0000e-02 9.3000e-02 3.3100e-01
 6.0100e-01 1.4260e+01 2.6550e+01 1.5280e+01 1.0100e-01 1.1900e-01
 4.5510e+01 3.0200e-01 2.3600e-01 2.4100e-01 5.0000e-02 1.2300e-01
 1.1000e-01 1.1500e-01 4.6800e-01 7.7200e-01 1.6070e+01 2.5750e+01
 1.5050e+01 8.6000e-02 2.3600e-01 4.5800e+01]
<class 'str'>
<PandasArray>
['0,5020', '0,4630', '0,2920', '0,1160', '0,1530', '0,1240', '0,2490',
 '0,6640', '0,8700',  '18.79',
 ...
 '0,1370', '0,2460', '0,7050', '0,8980',  '17.32',  '26.98',   '16.3',
 '0,1220', '0,3840',  '47.27']
Length: 178, dtype: object
<class 'numpy.float64'>
[ 0.502  0.463  0.292  0.116  0.153  0.124  0.249  0.664  0.87  18.79
 26.58  15.84   0.112  0.811 47.32   0.739  0.412  0.316  0.179  0.158
  0.119  0.231  0.566  0.829 20.64  25.72  14.95   0.094 11.17  50.62
  0.731  0.436  0.283  0.21   0.159  0.134  0.244  0.688 10.42  21.11
 25.41   0.787  0.096 16.47  52.02   0.607  0.495  0.295  0.204  0.145
  0.121  0.239  0.586 10.81  22.69  24.43   0.254  0.079 20.25  47.776
  0.649  0.436  0.207  0.195  0.142  0.108  0.252  0.719 11.58  23.08
 23.92   0.178  0.066 20.9    0.658  0.419  0.212  0.212  0.16   0.106
  0.288  0.667 12.43  23.45  21.27   0.211  0.096 29.17  23.94   0.568
  0.333  0.213  0.209  0.156  0.112  0.339  0.552 12.71  24.09  19.87
  0.173  0.081 31.52  22.9    0.535  0.296  0.218  0.197  0.139  0.119
  0.387  0.616 12.76  24.45  18.73   0.162  0.086 34.56  22.69   0.436
  0.271  0.116  0.191  0.13   0.124  0.454  0.614 13.33  25.79  18.52
  0.155  0.086 41.09  17.59   0.443  0.271  0.134  0.191  0.129  0.101
  0.308  0.685 14.29  26.71  17.29   0.142  0.119 47.85  15.24   0.37
  0.289  0.121  0.188  0.127  0.142  0.508  0.875 16.21  27.44  16.78
  0.142  0.185 47.63   0.896  0.484  0.317  0.119  0.181  0.137  0.246
  0.705  0.898 17.32  26.98  16.3    0.122  0.384 47.27 ]

##### Fix done

In [ ]:
BA1Y["Apertura"] = Apertura
BA1Y["Máximo"] = Maximo
BA1Y["Mínimo"] = Minimo

BA1Y.rename(columns={"Fecha":"Date", "% var.":"%var", "Apertura":"Open", "Máximo":"Max", "Mínimo":"Min", "Último":"Close"}, inplace=True)

In [ ]:
BA1Y.dtypes

Date         datetime64[ns]
Close               float64
Open                float64
Max                 float64
Min                 float64
%var                 object
Variation           float64
dtype: object

In [ ]:
#BA1Y.set_index("Date", inplace=True)
BA1Y = BA1Y[['Date', 'Open', 'Close', 'Max', 'Min', 'Variation', '%var']]
BA1Y

          Date    Open   Close     Max     Min  Variation     %var
0   2008-07-01   0.332   0.477   0.502   0.322     0.3947   39.47%
1   2008-08-01   0.443   0.281   0.463   0.276    -0.3584  -35.84%
2   2008-09-01   0.264   0.241   0.292   0.231    -0.0974   -9.74%
3   2008-10-01   0.108   0.113   0.116   0.093     0.0463    4.63%
4   2008-11-01   0.143   0.135   0.153   0.130    -0.0559   -5.59%
..         ...     ...     ...     ...     ...        ...      ...
173 2022-12-01  26.800  26.010  26.980  25.750    -0.0334   -3.34%
174 2023-01-01  16.450  15.820  16.300  15.050    -0.0106   -1.06%
175 2023-02-01   0.109   0.112   0.122   0.086     0.0467    4.67%
176 2023-03-01   0.269   0.384   0.384   0.236     0.7376   73.76%
177 2023-04-01  47.840  47.330  47.270  45.800     0.0002    0.02%

[178 rows x 7 columns]

### Hay datos de la tabla mal puestos, vamos a corregirlos

In [ ]:
BA1Y[BA1Y["Max"]>10]

          Date    Open   Close     Max     Min  Variation     %var
9   2009-04-01  17.340  18.970  18.790  17.320     0.0921    9.21%
10  2009-05-01  26.310  25.520  26.580  24.990    -0.0188   -1.88%
11  2009-06-01  15.790  14.440  15.840  14.440    -0.0872   -8.72%
14  2009-09-01  47.650  46.860  47.320  46.440    -0.0099   -0.99%
24  2010-07-01  18.970  20.700  20.640  18.260     0.0912    9.12%
25  2010-08-01  25.460  25.420  25.720  25.240    -0.0039   -0.39%
26  2010-09-01  14.570   0.983  14.950   0.962    -0.3193  -31.93%
28  2010-11-01   0.795  10.110  11.170   0.726     0.3181   31.81%
29  2010-12-01  47.110  50.100  50.620  46.310     0.0691    6.91%
38  2011-09-01   0.932  10.270  10.420   0.916     0.2837   28.37%
39  2011-10-01  20.690  20.900  21.110  19.870     0.0097    0.97%
40  2011-11-01  25.460  24.010  25.410  23.930    -0.0555   -5.55%
43  2012-02-01  10.470  16.080  16.470   0.865     0.5905   59.05%
44  2012-03-01  50.400  46.240  52.020  40.250    -0.0770   -7.70%
53  2012-12-01  10.320  10.730  10.810   0.977     0.0448    4.48%
54  2013-01-01  20.980  22.390  22.690  20.480     0.0713    7.13%
55  2013-02-01  23.950  23.820  24.430  23.820    -0.0079   -0.79%
58  2013-05-01  16.370  20.580  20.250  16.180     0.2799   27.99%
59  2013-06-01  43.011  46.554  47.776  43.011     0.0068    0.68%
68  2014-03-01  10.630  11.550  11.580  10.630     0.0764    7.64%
69  2014-04-01  22.470  22.260  23.080  21.450    -0.0058   -0.58%
70  2014-05-01  23.820  22.160  23.920  22.110    -0.0697   -6.97%
73  2014-08-01  20.690  20.530  20.900  18.930    -0.0024   -0.24%
82  2015-05-01  11.530  12.380  12.430  11.450     0.0719    7.19%
83  2015-06-01  22.250  23.220  23.450  22.250     0.0431    4.31%
84  2015-07-01  22.260  19.300  21.270  18.890    -0.1291  -12.91%
87  2015-10-01  20.790  27.900  29.170  20.680     0.3590   35.90%
88  2015-11-01  23.230  22.540  23.940  20.320    -0.0339   -3.39%
97  2016-08-01  12.330  12.220  12.710  11.910    -0.0129   -1.29%
98  2016-09-01  23.200  24.170  24.090  23.080     0.0409    4.09%
99  2016-10-01  19.380  20.060  19.870  18.840     0.0394    3.94%
102 2017-01-01  27.740  29.740  31.520  26.790     0.0659    6.59%
103 2017-02-01  22.490  21.510  22.900  20.100    -0.0457   -4.57%
112 2017-11-01  12.120  12.250  12.760  11.960     0.0025    0.25%
113 2017-12-01  24.190  24.550  24.450  23.990     0.0157    1.57%
114 2018-01-01  20.110  17.730  18.730  16.990    -0.1162  -11.62%
117 2018-04-01  29.770  34.830  34.560  29.320     0.1711   17.11%
118 2018-05-01  21.560  17.850  22.690  13.100    -0.1702  -17.02%
127 2019-02-01  12.270  13.000  13.330  11.990     0.0612    6.12%
128 2019-03-01  24.450  25.710  25.790  24.450     0.0473    4.73%
129 2019-04-01  17.650  17.680  18.520  16.970    -0.0028   -0.28%
132 2019-07-01  35.360  39.970  41.090  34.310     0.1476   14.76%
133 2019-08-01  17.590  13.300  17.590   0.992    -0.2549  -25.49%
142 2020-05-01  13.100  14.290  14.290  12.890     0.0992    9.92%
143 2020-06-01  25.710  26.650  26.710  25.710     0.0366    3.66%
144 2020-07-01  17.650  15.290  17.290  15.210    -0.1352  -13.52%
147 2020-10-01  40.000  46.370  47.850  39.050     0.1601   16.01%
148 2020-11-01  13.150   0.886  15.240   0.795    -0.3338  -33.38%
157 2021-08-01  14.290  16.180  16.210  14.260     0.1323   13.23%
158 2021-09-01  26.650  26.910  27.440  26.550     0.0098    0.98%
159 2021-10-01  15.280  15.990  16.780  15.280     0.0458    4.58%
162 2022-01-01  46.740  47.320  47.630  45.510     0.0205    2.05%
172 2022-11-01  16.150  17.370  17.320  16.070     0.0735    7.35%
173 2022-12-01  26.800  26.010  26.980  25.750    -0.0334   -3.34%
174 2023-01-01  16.450  15.820  16.300  15.050    -0.0106   -1.06%
177 2023-04-01  47.840  47.330  47.270  45.800     0.0002    0.02%

In [ ]:
#Las diferencias encontradas son las mismas?
if (BA1Y[BA1Y["Open"]>1].equals(BA1Y[BA1Y['Close']>1])):
    print(True)
else:
    print(False)

False

In [ ]:
#Cuales son esas diferencias?
comparacion = pd.merge(BA1Y[BA1Y["Open"]>1], BA1Y[BA1Y["Close"]>1], how='outer', indicator=True)
diferencias = comparacion[comparacion['_merge'] != 'both']
diferencias

         Date    Open   Close    Max    Min  Variation     %var      _merge
6  2010-09-01  14.570   0.983  14.95  0.962    -0.3193  -31.93%   left_only
45 2020-11-01  13.150   0.886  15.24  0.795    -0.3338  -33.38%   left_only
54 2010-11-01   0.795  10.110  11.17  0.726     0.3181   31.81%  right_only
55 2011-09-01   0.932  10.270  10.42  0.916     0.2837   28.37%  right_only

In [ ]:
#Separamos los errores
Open_left = diferencias[diferencias['_merge'] == 'left_only']['Open']
Close_right = diferencias[diferencias['_merge'] == 'right_only']['Close']
print(Open_left, "\n", Close_right)

#Misma cantidad de errores?
print(len(Open_left)==len(Close_right))

#Acomodamos los errores
for i in range(len(Open_left)):
    Open_left.iloc[i] = Open_left.iloc[i]/10
    Close_right.iloc[i] = Close_right.iloc[i]/10

diferencias.loc[diferencias['_merge'] == 'left_only', 'Open'] = Open_left
diferencias.loc[diferencias['_merge'] == 'right_only', 'Close'] = Close_right
diferencias

6     14.57
45    13.15
Name: Open, dtype: float64
 54    10.11
55    10.27
Name: Close, dtype: float64
True

C:\Users\matia\AppData\Local\Temp\ipykernel_2108\1093229872.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Open_left.iloc[i] = Open_left.iloc[i]/10
C:\Users\matia\AppData\Local\Temp\ipykernel_2108\1093229872.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Close_right.iloc[i] = Close_right.iloc[i]/10

         Date   Open  Close    Max    Min  Variation     %var      _merge
6  2010-09-01  1.457  0.983  14.95  0.962    -0.3193  -31.93%   left_only
45 2020-11-01  1.315  0.886  15.24  0.795    -0.3338  -33.38%   left_only
54 2010-11-01  0.795  1.011  11.17  0.726     0.3181   31.81%  right_only
55 2011-09-01  0.932  1.027  10.42  0.916     0.2837   28.37%  right_only

### Save changes

In [ ]:
BA1Y.to_csv("D:\Programacion proyectos\Data proyect\Clean\BA1Y\BA1Y_clean.csv")
BA1Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       178 non-null    datetime64[ns]
 1   Open       178 non-null    float64
 2   Close      178 non-null    float64
 3   Max        178 non-null    float64
 4   Min        178 non-null    float64
 5   Variation  178 non-null    float64
 6   %var       178 non-null    object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 9.9+ KB