In [1]:
import numpy as np
import pandas as pd
##### WEB scriping #####
import requests
from bs4 import BeautifulSoup
########################
from datetime import datetime, date, timedelta
from googletrans import Translator

<font style="font-size: 80px"><font color="yellow">C</font>onsume <font color="yellow">P</font>roduct <font color="yellow">I</font>ndex (<font color="yellow">CPI</font>)</font>

In [2]:
'''
url = 'https://api.worldbank.org/v2/en/indicator/FP.CPI.TOTL.ZG?downloadformat=csv'
local_path = 'API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454.csv'

response = requests.get(url)

if(response.status_code == 200):
    with open(local_path, 'wb') as file:
        file.write(response.content)
    print(f'Download success, status code {response.status_code}')
else:
    print(f'Download error, status code {response.status_code}')

path = 'API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454.csv'
'''

"\nurl = 'https://api.worldbank.org/v2/en/indicator/FP.CPI.TOTL.ZG?downloadformat=csv'\nlocal_path = 'API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454.csv'\n\nresponse = requests.get(url)\n\nif(response.status_code == 200):\n    with open(local_path, 'wb') as file:\n        file.write(response.content)\n    print(f'Download success, status code {response.status_code}')\nelse:\n    print(f'Download error, status code {response.status_code}')\n\npath = 'API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_228454.csv'\n"

In [3]:
CPIworld = pd.read_csv("../../CSV crudo/CPIworld.csv")
CPIworld

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN
1,NaN,AFE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,6.362961,6.079328,NaN
2,Afganistán,AFG,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
3,NaN,AFW,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.437609,3.837868,NaN
4,Angola,AGO,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,NaN
262,"Yemen, Rep. del",YEM,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,...,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,NaN
264,Zambia,ZMB,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234,NaN
265,Zimbabwe,ZWE,"Inflación, precios al consumidor (% anual)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105,NaN

### Columns title

In [4]:
CPIworld.drop(columns=["Indicator Name", "Indicator Code", "Unnamed: 66"], inplace=True)
CPIworld.rename(columns={"Country Name":"Country", "Country Code":"Code"}, inplace=True)
CPIworld

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
1,NaN,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,6.362961,6.079328
2,Afganistán,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
3,NaN,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.437609,3.837868
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.277905,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691
262,"Yemen, Rep. del",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,ZAF,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,...,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105

In [5]:
country_check = {}
for i in CPIworld["Country"]:
    if country_check.get(i):
        country_check[i] += 1
    else:
        country_check[i] = 1
        
country_repeat = {k: v for k, v in country_check.items() if(v>=2)}
country_repeat

{nan: 2}

In [6]:
CPIworld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  264 non-null    object
 1   Code     266 non-null    object
 2   1960     70 non-null     float64
 3   1961     72 non-null     float64
 4   1962     74 non-null     float64
 5   1963     75 non-null     float64
 6   1964     79 non-null     float64
 7   1965     86 non-null     float64
 8   1966     93 non-null     float64
 9   1967     100 non-null    float64
 10  1968     101 non-null    float64
 11  1969     102 non-null    float64
 12  1970     107 non-null    float64
 13  1971     111 non-null    float64
 14  1972     114 non-null    float64
 15  1973     117 non-null    float64
 16  1974     120 non-null    float64
 17  1975     124 non-null    float64
 18  1976     125 non-null    float64
 19  1977     129 non-null    float64
 20  1978     129 non-null    float64
 21  1979     124 non-null    float64
 22  1980     131 non-null    float64
 23  1981     148 non-null    float64
 24  1982     149 non-null    float64
 25  1983     149 non-null    float64
 26  1984     153 non-null    float64
 27  1985     154 non-null    float64
 28  1986     164 non-null    float64
 29  1987     170 non-null    float64
 30  1988     170 non-null    float64
 31  1989     174 non-null    float64
 32  1990     174 non-null    float64
 33  1991     179 non-null    float64
 34  1992     187 non-null    float64
 35  1993     193 non-null    float64
 36  1994     198 non-null    float64
 37  1995     202 non-null    float64
 38  1996     205 non-null    float64
 39  1997     205 non-null    float64
 40  1998     205 non-null    float64
 41  1999     207 non-null    float64
 42  2000     211 non-null    float64
 43  2001     216 non-null    float64
 44  2002     218 non-null    float64
 45  2003     221 non-null    float64
 46  2004     222 non-null    float64
 47  2005     225 non-null    float64
 48  2006     228 non-null    float64
 49  2007     230 non-null    float64
 50  2008     231 non-null    float64
 51  2009     234 non-null    float64
 52  2010     236 non-null    float64
 53  2011     240 non-null    float64
 54  2012     239 non-null    float64
 55  2013     237 non-null    float64
 56  2014     235 non-null    float64
 57  2015     234 non-null    float64
 58  2016     234 non-null    float64
 59  2017     229 non-null    float64
 60  2018     226 non-null    float64
 61  2019     224 non-null    float64
 62  2020     217 non-null    float64
 63  2021     205 non-null    float64
dtypes: float64(62), object(2)
memory usage: 133.1+ KB

## <font style="font-style:italic "><font color="#6CACE4">This data-set</font> <font color="white">not have Argentina</font> <font color="yellow">data.That</font> <font color="white">is my country</font> <font color="#6CACE4">where I born.</font></font> <font style="font-size:15px">(WEB scriping)</font>

In [7]:
print(CPIworld[CPIworld["Country"] == "Argentina"].iloc[:, 2:].isna().any().value_counts(normalize=True)) #False = 0 => All is nan
CPIworld.drop(index=CPIworld[CPIworld["Country"] == "Argentina" ].index.values, inplace=True)

True    1.0
Name: proportion, dtype: float64

### WEB scriping

In [8]:
url = "https://www.datosmundial.com/america/argentina/inflacion.php"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

tr_items = soup.find_all('td')

In [9]:
Argentina_inflation = {}
count_year = 0
count_Argentina = 1

for td in tr_items:
    if(count_year == 0):
        actual_year = td.text
        count_year = 5

    elif(count_Argentina == 0):
        Argentina_inflation[actual_year] = td.text
        count_Argentina = 5

    count_year -= 1
    count_Argentina -= 1

Argentina_inflation

{'2022': '94,80 %',
 '2021': '48,41 %',
 '2020': '42,02 %',
 '2019': '53,55 %',
 '2018': '34,28 %',
 '2017': '25,68 %',
 '2016': '26,50 %',
 '2014': '23,90 %',
 '2013': '10,62 %',
 '2012': '10,03 %',
 '2011': '9,47 %',
 '2010': '10,78 %',
 '2009': '6,28 %',
 '2008': '8,58 %',
 '2007': '8,83 %',
 '2006': '10,90 %',
 '2005': '9,64 %',
 '2004': '4,42 %',
 '2003': '13,44 %',
 '2002': '25,87 %',
 '2001': '-1,07 %',
 '2000': '-0,94 %',
 '1999': '-1,17 %',
 '1998': '0,92 %',
 '1997': '0,53 %',
 '1996': '0,16 %',
 '1995': '3,38 %',
 '1994': '4,18 %',
 '1993': '10,61 %',
 '1992': '24,90 %',
 '1991': '171,67 %',
 '1990': '2.313,96 %',
 '1989': '3.079,81 %',
 '1988': '342,96 %',
 '1987': '131,33 %',
 '1986': '90,10 %',
 '1985': '672,18 %',
 '1984': '626,72 %',
 '1983': '343,81 %',
 '1982': '164,78 %',
 '1981': '104,48 %',
 '1980': '100,76 %'}

In [10]:
dict_aux = {}
for key, value in Argentina_inflation.items():
    dict_aux[key] = float(value.split("%")[0].replace(".", "").replace(",", "."))   #How to change "2.313,98"

del dict_aux["2022"]
dict_aux

{'2021': 48.41,
 '2020': 42.02,
 '2019': 53.55,
 '2018': 34.28,
 '2017': 25.68,
 '2016': 26.5,
 '2014': 23.9,
 '2013': 10.62,
 '2012': 10.03,
 '2011': 9.47,
 '2010': 10.78,
 '2009': 6.28,
 '2008': 8.58,
 '2007': 8.83,
 '2006': 10.9,
 '2005': 9.64,
 '2004': 4.42,
 '2003': 13.44,
 '2002': 25.87,
 '2001': -1.07,
 '2000': -0.94,
 '1999': -1.17,
 '1998': 0.92,
 '1997': 0.53,
 '1996': 0.16,
 '1995': 3.38,
 '1994': 4.18,
 '1993': 10.61,
 '1992': 24.9,
 '1991': 171.67,
 '1990': 2313.96,
 '1989': 3079.81,
 '1988': 342.96,
 '1987': 131.33,
 '1986': 90.1,
 '1985': 672.18,
 '1984': 626.72,
 '1983': 343.81,
 '1982': 164.78,
 '1981': 104.48,
 '1980': 100.76}

In [11]:
addRow = pd.DataFrame([dict_aux])
addRow = addRow.assign(Country="Argentina", Code="ARG")
print(CPIworld.info())
print(addRow.info())

df_test =pd.concat([CPIworld, addRow], ignore_index=True)
#******
false_data = df_test[df_test["Country"] == "Argentina"].iloc[:, 22:].isna().any()
print("No data years: ", false_data.index[false_data].values)
#******
CPIworld = df_test

<class 'pandas.core.frame.DataFrame'>
Index: 265 entries, 0 to 265
Data columns (total 64 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  263 non-null    object
 1   Code     265 non-null    object
 2   1960     70 non-null     float64
 3   1961     72 non-null     float64
 4   1962     74 non-null     float64
 5   1963     75 non-null     float64
 6   1964     79 non-null     float64
 7   1965     86 non-null     float64
 8   1966     93 non-null     float64
 9   1967     100 non-null    float64
 10  1968     101 non-null    float64
 11  1969     102 non-null    float64
 12  1970     107 non-null    float64
 13  1971     111 non-null    float64
 14  1972     114 non-null    float64
 15  1973     117 non-null    float64
 16  1974     120 non-null    float64
 17  1975     124 non-null    float64
 18  1976     125 non-null    float64
 19  1977     129 non-null    float64
 20  1978     129 non-null    float64
 21  1979     124 non-null    float64
 22  1980     131 non-null    float64
 23  1981     148 non-null    float64
 24  1982     149 non-null    float64
 25  1983     149 non-null    float64
 26  1984     153 non-null    float64
 27  1985     154 non-null    float64
 28  1986     164 non-null    float64
 29  1987     170 non-null    float64
 30  1988     170 non-null    float64
 31  1989     174 non-null    float64
 32  1990     174 non-null    float64
 33  1991     179 non-null    float64
 34  1992     187 non-null    float64
 35  1993     193 non-null    float64
 36  1994     198 non-null    float64
 37  1995     202 non-null    float64
 38  1996     205 non-null    float64
 39  1997     205 non-null    float64
 40  1998     205 non-null    float64
 41  1999     207 non-null    float64
 42  2000     211 non-null    float64
 43  2001     216 non-null    float64
 44  2002     218 non-null    float64
 45  2003     221 non-null    float64
 46  2004     222 non-null    float64
 47  2005     225 non-null    float64
 48  2006     228 non-null    float64
 49  2007     230 non-null    float64
 50  2008     231 non-null    float64
 51  2009     234 non-null    float64
 52  2010     236 non-null    float64
 53  2011     240 non-null    float64
 54  2012     239 non-null    float64
 55  2013     237 non-null    float64
 56  2014     235 non-null    float64
 57  2015     234 non-null    float64
 58  2016     234 non-null    float64
 59  2017     229 non-null    float64
 60  2018     226 non-null    float64
 61  2019     224 non-null    float64
 62  2020     217 non-null    float64
 63  2021     205 non-null    float64
dtypes: float64(62), object(2)
memory usage: 134.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 43 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2021     1 non-null      float64
 1   2020     1 non-null      float64
 2   2019     1 non-null      float64
 3   2018     1 non-null      float64
 4   2017     1 non-null      float64
 5   2016     1 non-null      float64
 6   2014     1 non-null      float64
 7   2013     1 non-null      float64
 8   2012     1 non-null      float64
 9   2011     1 non-null      float64
 10  2010     1 non-null      float64
 11  2009     1 non-null      float64
 12  2008     1 non-null      float64
 13  2007     1 non-null      float64
 14  2006     1 non-null      float64
 15  2005     1 non-null      float64
 16  2004     1 non-null      float64
 17  2003     1 non-null      float64
 18  2002     1 non-null      float64
 19  2001     1 non-null      float64
 20  2000     1 non-null      float64
 21  1999     1 non-null      float64
 22  1998     1 non-null      float64
 23  1997     1 non-null      float64
 24  1996     1 non-null      float64
 25  1995     1 non-null      float64
 26  1994     1 non-null      float64
 27  1993     1 non-null      float64
 28  1992     1 non-null      float64
 29  1991     1 non-null      float64
 30  1990     1 non-null      float64
 31  1989     1 non-null      float64
 32  1988     1 non-null      float64
 33  1987     1 non-null      float64
 34  1986     1 non-null      float64
 35  1985     1 non-null      float64
 36  1984     1 non-null      float64
 37  1983     1 non-null      float64
 38  1982     1 non-null      float64
 39  1981     1 non-null      float64
 40  1980     1 non-null      float64
 41  Country  1 non-null      object
 42  Code     1 non-null      object
dtypes: float64(41), object(2)
memory usage: 476.0+ bytes
None
No data years:  ['2015']

In [12]:
CPIworld

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
1,NaN,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.158707,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,6.362961,6.079328
2,Afganistán,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
3,NaN,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.437609,3.837868
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.277905,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,"Yemen, Rep. del",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Sudáfrica,ZAF,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,...,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672
263,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234
264,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105
265,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.030000,10.620000,23.900000,NaN,26.500000,25.680000,34.280000,53.550000,42.020000,48.410000

In [13]:
int(CPIworld[CPIworld["Country"] == "Argentina"].index.values)

C:\Users\matia\AppData\Local\Temp\ipykernel_27640\3926330579.py:1: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  int(CPIworld[CPIworld["Country"] == "Argentina"].index.values)

265

### NaN content

In [14]:
dataDelete = CPIworld[CPIworld["Country"].isna()==True]
print(dataDelete.iloc[:, :2], "\n", dataDelete.index)
CPIworld.drop(index=dataDelete.index, inplace=True) #index=[1, 3]
CPIworld.reset_index(inplace=True, drop=True)

  Country Code
1     NaN  AFE
3     NaN  AFW
 Index([1, 3], dtype='int64')

In [15]:
noData = []
for i in CPIworld["Country"]:
    rowSelected = CPIworld[CPIworld["Country"] == i]
    
    if(rowSelected.iloc[:, 2:].isna().any().any()):
        TrueCount = rowSelected.iloc[:, 2:].isna().any().value_counts(normalize=True)[True]
        print(rowSelected.index.values, i, "have a", (TrueCount*100).round(2), "%", "NaN values")
        if(TrueCount == 1):
            noData.append(int(rowSelected.index.values))
        else:
            pass
    else:
        pass
print(len(noData), noData)

CPIworld.drop(index=noData, inplace=True)
CPIworld.reset_index(inplace=True, drop=True)
CPIworld

[0] Aruba have a 43.55 % NaN values
[1] Afganistán have a 75.81 % NaN values
[2] Angola have a 50.0 % NaN values
[3] Albania have a 51.61 % NaN values
[4] Andorra have a 100.0 % NaN values
[5] El mundo árabe have a 22.58 % NaN values
[6] Emiratos Árabes Unidos have a 79.03 % NaN values
[7] Armenia have a 54.84 % NaN values
[8] Samoa Americana have a 100.0 % NaN values
[9] Antigua y Barbuda have a 62.9 % NaN values
[12] Azerbaiyán have a 51.61 % NaN values
[13] Burundi have a 9.68 % NaN values
[15] Benin have a 53.23 % NaN values
[17] Bangladesh have a 43.55 % NaN values
[18] Bulgaria have a 41.94 % NaN values
[19] Bahrein have a 9.68 % NaN values
[20] Bahamas have a 11.29 % NaN values
[21] Bosnia y Herzegovina have a 74.19 % NaN values
[22] Belarús have a 53.23 % NaN values
[23] Belice have a 33.87 % NaN values
[24] Bermudas have a 100.0 % NaN values
[26] Brasil have a 33.87 % NaN values
[27] Barbados have a 14.52 % NaN values
[28] Brunei Darussalam have a 33.87 % NaN values
[29] Bhután have a 33.87 % NaN values
[30] Botswana have a 24.19 % NaN values
[31] República Centroafricana have a 33.87 % NaN values
[33] Europa Central y del Báltico have a 50.0 % NaN values
[35] Islas del Canal have a 100.0 % NaN values
[36] Chile have a 17.74 % NaN values
[37] China have a 43.55 % NaN values
[38] Côte d'Ivoire have a 1.61 % NaN values
[39] Camerún have a 14.52 % NaN values
[40] Congo, República Democrática del have a 14.52 % NaN values
[41] Congo, República del have a 45.16 % NaN values
[43] Comoras have a 79.03 % NaN values
[44] Cabo Verde have a 38.71 % NaN values
[46] Estados pequeos del Caribe have a 11.29 % NaN values
[47] Cuba have a 100.0 % NaN values
[48] Curacao have a 69.35 % NaN values
[49] Islas Caimán have a 88.71 % NaN values
[51] República Checa have a 51.61 % NaN values
[53] Djibouti have a 54.84 % NaN values
[54] Dominica have a 16.13 % NaN values
[57] Argelia have a 16.13 % NaN values
[58] Asia oriental y el Pacífico (excluido altos ingresos) have a 43.55 % NaN values
[59] inicial del dividendo demográfico have a 9.68 % NaN values
[60] Asia oriental y el Pacífico have a 43.55 % NaN values
[61] Europa y Asia central (excluido altos ingresos) have a 54.84 % NaN values
[62] Europa y Asia central have a 51.61 % NaN values
[66] Eritrea have a 100.0 % NaN values
[68] Estonia have a 53.23 % NaN values
[69] Etiopía have a 9.68 % NaN values
[71] Frágiles y situaciones de conflicto afectados have a 46.77 % NaN values
[73] Fiji have a 16.13 % NaN values
[75] Islas Feroe have a 100.0 % NaN values
[76] Micronesia (Estados Federados de) have a 66.13 % NaN values
[77] Gabón have a 6.45 % NaN values
[79] Georgia have a 56.45 % NaN values
[80] Ghana have a 8.06 % NaN values
[81] Gibraltar have a 100.0 % NaN values
[82] Guinea have a 72.58 % NaN values
[83] Gambia have a 3.23 % NaN values
[84] Guinea-Bissau have a 45.16 % NaN values
[85] Guinea Ecuatorial have a 43.55 % NaN values
[87] Granada have a 27.42 % NaN values
[88] Groenlandia have a 100.0 % NaN values
[90] Guam have a 100.0 % NaN values
[91] Guyana have a 56.45 % NaN values
[92] Ingreso alto have a 32.26 % NaN values
[93] Hong Kong, Región Administrativa Especial have a 35.48 % NaN values
[95] Países pobres muy endeudados (PPME) have a 33.87 % NaN values
[96] Croacia have a 41.94 % NaN values
[98] Hungría have a 20.97 % NaN values
[99] Sólo BIRF have a 17.74 % NaN values
[100] BIRF y la AIF have a 33.87 % NaN values
[101] total de la AIF have a 33.87 % NaN values
[102] mezcla de la AIF have a 19.35 % NaN values
[104] Sólo AIF have a 41.94 % NaN values
[105] Isla de Man have a 100.0 % NaN values
[107] No clasificado have a 100.0 % NaN values
[110] Iraq have a 19.35 % NaN values
[115] Jordania have a 16.13 % NaN values
[117] Kazajstán have a 56.45 % NaN values
[119] Kirguistán have a 58.06 % NaN values
[120] Camboya have a 56.45 % NaN values
[121] Kiribati have a 79.03 % NaN values
[122] Saint Kitts y Nevis have a 32.26 % NaN values
[124] Kuwait have a 20.97 % NaN values
[126] República Democrática Popular Lao have a 46.77 % NaN values
[127] Líbano have a 79.03 % NaN values
[128] Liberia have a 72.58 % NaN values
[129] Libia have a 20.97 % NaN values
[130] Santa Lucía have a 9.68 % NaN values

C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))

[131] América Latina y el Caribe have a 11.29 % NaN values
[132] Países menos desarrollados: clasificación de las Naciones Unidas have a 41.94 % NaN values
[133] Países de ingreso bajo have a 38.71 % NaN values
[134] Liechtenstein have a 100.0 % NaN values
[136] Países de ingreso mediano bajo have a 22.58 % NaN values
[137] Ingreso mediano y bajo have a 33.87 % NaN values
[138] Lesotho have a 27.42 % NaN values
[139] avanzada del dividendo demográfico have a 43.55 % NaN values
[140] Lituania have a 51.61 % NaN values
[142] Letonia have a 51.61 % NaN values
[143] Región Administrativa Especial de Macao, China have a 48.39 % NaN values
[144] Isla de San Martín (parte francesa) have a 100.0 % NaN values
[146] Mónaco have a 100.0 % NaN values
[147] República de Moldova have a 51.61 % NaN values
[148] Madagascar have a 8.06 % NaN values
[149] Maldivas have a 41.94 % NaN values
[150] Oriente Medio y Norte de África have a 16.13 % NaN values
[152] Islas Marshall have a 100.0 % NaN values
[153]  Ingreso mediano have a 30.65 % NaN values
[154] Macedonia del Norte have a 54.84 % NaN values
[155] Malí have a 46.77 % NaN values
[157] Myanmar have a 3.23 % NaN values
[158] Oriente Medio y Norte de África (excluido altos ingresos) have a 16.13 % NaN values
[159] Montenegro have a 74.19 % NaN values
[160] Mongolia have a 53.23 % NaN values
[161] Mariana have a 100.0 % NaN values
[162] Mozambique have a 72.58 % NaN values
[163] Mauritania have a 41.94 % NaN values
[164] Mauricio have a 6.45 % NaN values
[165] Malawi have a 35.48 % NaN values
[168] Namibia have a 69.35 % NaN values
[169] Nueva Caledonia have a 90.32 % NaN values
[170] Níger have a 6.45 % NaN values
[172] Nicaragua have a 64.52 % NaN values
[175] Nepal have a 8.06 % NaN values
[176] Nauru have a 96.77 % NaN values
[179] Omán have a 66.13 % NaN values
[180] Otros Estados pequeos have a 32.26 % NaN values
[185] Palau have a 67.74 % NaN values
[186] Papua Nueva Guinea have a 19.35 % NaN values
[187] Polonia have a 17.74 % NaN values
[188] previa al dividendo demográfico have a 41.94 % NaN values
[189] Puerto Rico have a 100.0 % NaN values
[190] Corea, República Popular Democrática de have a 100.0 % NaN values
[193] Ribera Occidental y Gaza have a 59.68 % NaN values
[194] Estados pequeos de las Islas del Pacfico have a 64.52 % NaN values
[196] Polinesia Francesa have a 100.0 % NaN values
[197] Qatar have a 32.26 % NaN values
[198] Rumania have a 50.0 % NaN values
[199] Federación de Rusia have a 53.23 % NaN values
[200] Rwanda have a 14.52 % NaN values
[201] Asia meridional have a 8.06 % NaN values
[202] Arabia Saudita have a 6.45 % NaN values
[204] Senegal have a 14.52 % NaN values
[205] Singapur have a 1.61 % NaN values
[206] Islas Salomón have a 19.35 % NaN values
[207] Sierra Leona have a 75.81 % NaN values
[209] San Marino have a 77.42 % NaN values
[210] Somalia have a 100.0 % NaN values

C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))
C:\Users\matia\AppData\Local\Temp\ipykernel_27640\4174831497.py:9: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  noData.append(int(rowSelected.index.values))

[211] Serbia have a 56.45 % NaN values
[212] África al sur del Sahara (excluido altos ingresos) have a 33.87 % NaN values
[213] Sudán del Sur have a 79.03 % NaN values
[214] África al sur del Sahara have a 24.19 % NaN values
[215] Pequeños Estados have a 29.03 % NaN values
[216] Santo Tomé y Príncipe have a 64.52 % NaN values
[217] Suriname have a 3.23 % NaN values
[218] República Eslovaca have a 51.61 % NaN values
[219] Eslovenia have a 33.87 % NaN values
[221] Eswatini have a 12.9 % NaN values
[222] Sint Maarten (Dutch part) have a 80.65 % NaN values
[223] Seychelles have a 19.35 % NaN values
[224] República Árabe Siria have a 14.52 % NaN values
[225] Islas Turcas y Caicos have a 100.0 % NaN values
[226] Chad have a 38.71 % NaN values
[227] Asia oriental y el Pacífico (BIRF y la AIF) have a 43.55 % NaN values
[228] Europa y Asia central (BIRF y la AIF) have a 54.84 % NaN values
[229] Togo have a 12.9 % NaN values
[231] Tayikistán have a 74.19 % NaN values
[232] Turkmenistán have a 100.0 % NaN values
[234] Timor-Leste have a 72.58 % NaN values
[235] Oriente Medio y Norte de África (BIRF y la AIF) have a 8.06 % NaN values
[236] Tonga have a 25.81 % NaN values
[237] Asia meridional (BIRF y la AIF) have a 8.06 % NaN values
[238] África al sur del Sahara (BIRF y la AIF) have a 24.19 % NaN values
[240] Túnez have a 38.71 % NaN values
[242] Tuvalu have a 98.39 % NaN values
[243] Tanzanía have a 9.68 % NaN values
[244] Uganda have a 54.84 % NaN values
[245] Ucrania have a 53.23 % NaN values
[246] Ingreso mediano alto have a 33.87 % NaN values
[249] Uzbekistán have a 82.26 % NaN values
[250] San Vicente y las Granadinas have a 24.19 % NaN values
[251] Venezuela have a 87.1 % NaN values
[252] Islas Vírgenes Británicas have a 100.0 % NaN values
[253] Islas Vírgenes (EE.UU.) have a 100.0 % NaN values
[254] Viet Nam have a 58.06 % NaN values
[255] Vanuatu have a 27.42 % NaN values
[256] Mundo have a 33.87 % NaN values
[257] Samoa have a 3.23 % NaN values
[258] Kosovo have a 69.35 % NaN values
[259] Yemen, Rep. del have a 61.29 % NaN values
[261] Zambia have a 41.94 % NaN values
[262] Zimbabwe have a 80.65 % NaN values
[263] Argentina have a 33.87 % NaN values
25 [4, 8, 24, 35, 47, 66, 75, 81, 88, 90, 105, 107, 134, 144, 146, 152, 161, 189, 190, 196, 210, 225, 232, 252, 253]

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN
1,Afganistán,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN
2,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.277905,8.777814,7.280387,9.353840,30.698958,29.842578,19.630594,17.079704,22.271564,25.754266
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.031593,1.937621,1.625865,3.501208,-0.367317,2.060598,2.028060,1.411091,1.620887,2.041472
4,El mundo árabe,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.611844,3.238108,2.773516,1.814077,2.068840,1.966826,2.458142,1.091848,1.777408,3.423629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,"Yemen, Rep. del",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Sudáfrica,ZAF,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,...,5.724658,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672
236,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,22.021234
237,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,98.546105
238,Argentina,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.030000,10.620000,23.900000,NaN,26.500000,25.680000,34.280000,53.550000,42.020000,48.410000

In [16]:
nanCountry = {}

for i in CPIworld["Country"]:
    nanCountry[i] = CPIworld[CPIworld["Country"] == i].iloc[:, 2:].isna().any().value_counts(normalize=True)[False]
    nanCountry[i] *= 100

nanCountryOrder = dict(sorted(nanCountry.items(), key=lambda items: items[1], reverse=True))
nanCountryOrder

{'Australia': 100.0,
 'Austria': 100.0,
 'Bélgica': 100.0,
 'Burkina Faso': 100.0,
 'Bolivia': 100.0,
 'Canadá': 100.0,
 'Suiza': 100.0,
 'Colombia': 100.0,
 'Costa Rica': 100.0,
 'Chipre': 100.0,
 'Alemania': 100.0,
 'Dinamarca': 100.0,
 'República Dominicana': 100.0,
 'Ecuador': 100.0,
 'Egipto, República Árabe de': 100.0,
 'Zona del Euro': 100.0,
 'España': 100.0,
 'Unión Europea': 100.0,
 'Finlandia': 100.0,
 'Francia': 100.0,
 'Reino Unido': 100.0,
 'Grecia': 100.0,
 'Guatemala': 100.0,
 'Honduras': 100.0,
 'Haití': 100.0,
 'Indonesia': 100.0,
 'India': 100.0,
 'Irlanda': 100.0,
 'Irán, República Islámica del': 100.0,
 'Islandia': 100.0,
 'Israel': 100.0,
 'Italia': 100.0,
 'Jamaica': 100.0,
 'Japón': 100.0,
 'Kenya': 100.0,
 'Corea, República de': 100.0,
 'América Latina y el Caribe (excluido altos ingresos)': 100.0,
 'Sri Lanka': 100.0,
 'Luxemburgo': 100.0,
 'Marruecos': 100.0,
 'México': 100.0,
 'Malta': 100.0,
 'Malasia': 100.0,
 'América del Norte': 100.0,
 'Nigeria': 100.0,
 'Países Bajos': 100.0,
 'Noruega': 100.0,
 'Nueva Zelandia': 100.0,
 'Miembros OCDE': 100.0,
 'Pakistán': 100.0,
 'Panamá': 100.0,
 'Perú': 100.0,
 'Filipinas': 100.0,
 'Portugal': 100.0,
 'Paraguay': 100.0,
 'posterior al dividendo demográfico': 100.0,
 'Sudán': 100.0,
 'El Salvador': 100.0,
 'Suecia': 100.0,
 'Tailandia': 100.0,
 'América Latina y el Caribe (BIRF y la AIF)': 100.0,
 'Trinidad y Tobago': 100.0,
 'Turquía': 100.0,
 'Uruguay': 100.0,
 'Estados Unidos': 100.0,
 'Sudáfrica': 100.0,
 "Côte d'Ivoire": 98.38709677419355,
 'Singapur': 98.38709677419355,
 'Gambia': 96.7741935483871,
 'Myanmar': 96.7741935483871,
 'Suriname': 96.7741935483871,
 'Samoa': 96.7741935483871,
 'Gabón': 93.54838709677419,
 'Mauricio': 93.54838709677419,
 'Níger': 93.54838709677419,
 'Arabia Saudita': 93.54838709677419,
 'Ghana': 91.93548387096774,
 'Madagascar': 91.93548387096774,
 'Nepal': 91.93548387096774,
 'Asia meridional': 91.93548387096774,
 'Oriente Medio y Norte de África (BIRF y la AIF)': 91.93548387096774,
 'Asia meridional (BIRF y la AIF)': 91.93548387096774,
 'Burundi': 90.32258064516128,
 'Bahrein': 90.32258064516128,
 'inicial del dividendo demográfico': 90.32258064516128,
 'Etiopía': 90.32258064516128,
 'Santa Lucía': 90.32258064516128,
 'Tanzanía': 90.32258064516128,
 'Bahamas': 88.70967741935483,
 'Estados pequeos del Caribe': 88.70967741935483,
 'América Latina y el Caribe': 88.70967741935483,
 'Eswatini': 87.09677419354838,
 'Togo': 87.09677419354838,
 'Barbados': 85.48387096774194,
 'Camerún': 85.48387096774194,
 'Congo, República Democrática del': 85.48387096774194,
 'Rwanda': 85.48387096774194,
 'Senegal': 85.48387096774194,
 'República Árabe Siria': 85.48387096774194,
 'Dominica': 83.87096774193549,
 'Argelia': 83.87096774193549,
 'Fiji': 83.87096774193549,
 'Jordania': 83.87096774193549,
 'Oriente Medio y Norte de África': 83.87096774193549,
 'Oriente Medio y Norte de África (excluido altos ingresos)': 83.87096774193549,
 'Chile': 82.25806451612904,
 'Sólo BIRF': 82.25806451612904,
 'Polonia': 82.25806451612904,
 'mezcla de la AIF': 80.64516129032258,
 'Iraq': 80.64516129032258,
 'Papua Nueva Guinea': 80.64516129032258,
 'Islas Salomón': 80.64516129032258,
 'Seychelles': 80.64516129032258,
 'Hungría': 79.03225806451613,
 'Kuwait': 79.03225806451613,
 'Libia': 79.03225806451613,
 'El mundo árabe': 77.41935483870968,
 'Países de ingreso mediano bajo': 77.41935483870968,
 'Botswana': 75.80645161290323,
 'África al sur del Sahara': 75.80645161290323,
 'África al sur del Sahara (BIRF y la AIF)': 75.80645161290323,
 'San Vicente y las Granadinas': 75.80645161290323,
 'Tonga': 74.19354838709677,
 'Granada': 72.58064516129032,
 'Lesotho': 72.58064516129032,
 'Vanuatu': 72.58064516129032,
 'Pequeños Estados': 70.96774193548387,
 ' Ingreso mediano': 69.35483870967742,
 'Ingreso alto': 67.74193548387096,
 'Saint Kitts y Nevis': 67.74193548387096,
 'Otros Estados pequeos': 67.74193548387096,
 'Qatar': 67.74193548387096,
 'Belice': 66.12903225806451,
 'Brasil': 66.12903225806451,
 'Brunei Darussalam': 66.12903225806451,
 'Bhután': 66.12903225806451,
 'República Centroafricana': 66.12903225806451,
 'Países pobres muy endeudados (PPME)': 66.12903225806451,
 'BIRF y la AIF': 66.12903225806451,
 'total de la AIF': 66.12903225806451,
 'Ingreso mediano y bajo': 66.12903225806451,
 'África al sur del Sahara (excluido altos ingresos)': 66.12903225806451,
 'Eslovenia': 66.12903225806451,
 'Ingreso mediano alto': 66.12903225806451,
 'Mundo': 66.12903225806451,
 'Argentina': 66.12903225806451,
 'Hong Kong, Región Administrativa Especial': 64.51612903225806,
 'Malawi': 64.51612903225806,
 'Cabo Verde': 61.29032258064516,
 'Países de ingreso bajo': 61.29032258064516,
 'Chad': 61.29032258064516,
 'Túnez': 61.29032258064516,
 'Bulgaria': 58.06451612903226,
 'Croacia': 58.06451612903226,
 'Sólo AIF': 58.06451612903226,
 'Países menos desarrollados: clasificación de las Naciones Unidas': 58.06451612903226,
 'Maldivas': 58.06451612903226,
 'Mauritania': 58.06451612903226,
 'previa al dividendo demográfico': 58.06451612903226,
 'Zambia': 58.06451612903226,
 'Aruba': 56.451612903225815,
 'Bangladesh': 56.451612903225815,
 'China': 56.451612903225815,
 'Asia oriental y el Pacífico (excluido altos ingresos)': 56.451612903225815,
 'Asia oriental y el Pacífico': 56.451612903225815,
 'Guinea Ecuatorial': 56.451612903225815,
 'avanzada del dividendo demográfico': 56.451612903225815,
 'Asia oriental y el Pacífico (BIRF y la AIF)': 56.451612903225815,
 'Congo, República del': 54.83870967741935,
 'Guinea-Bissau': 54.83870967741935,
 'Frágiles y situaciones de conflicto afectados': 53.2258064516129,
 'República Democrática Popular Lao': 53.2258064516129,
 'Malí': 53.2258064516129,
 'Región Administrativa Especial de Macao, China': 51.61290322580645,
 'Angola': 50.0,
 'Europa Central y del Báltico': 50.0,
 'Rumania': 50.0,
 'Albania': 48.38709677419355,
 'Azerbaiyán': 48.38709677419355,
 'República Checa': 48.38709677419355,
 'Europa y Asia central': 48.38709677419355,
 'Lituania': 48.38709677419355,
 'Letonia': 48.38709677419355,
 'República de Moldova': 48.38709677419355,
 'República Eslovaca': 48.38709677419355,
 'Benin': 46.774193548387096,
 'Belarús': 46.774193548387096,
 'Estonia': 46.774193548387096,
 'Mongolia': 46.774193548387096,
 'Federación de Rusia': 46.774193548387096,
 'Ucrania': 46.774193548387096,
 'Armenia': 45.16129032258064,
 'Djibouti': 45.16129032258064,
 'Europa y Asia central (excluido altos ingresos)': 45.16129032258064,
 'Macedonia del Norte': 45.16129032258064,
 'Europa y Asia central (BIRF y la AIF)': 45.16129032258064,
 'Uganda': 45.16129032258064,
 'Georgia': 43.54838709677419,
 'Guyana': 43.54838709677419,
 'Kazajstán': 43.54838709677419,
 'Camboya': 43.54838709677419,
 'Serbia': 43.54838709677419,
 'Kirguistán': 41.935483870967744,
 'Viet Nam': 41.935483870967744,
 'Ribera Occidental y Gaza': 40.32258064516129,
 'Yemen, Rep. del': 38.70967741935484,
 'Antigua y Barbuda': 37.096774193548384,
 'Nicaragua': 35.483870967741936,
 'Estados pequeos de las Islas del Pacfico': 35.483870967741936,
 'Santo Tomé y Príncipe': 35.483870967741936,
 'Micronesia (Estados Federados de)': 33.87096774193548,
 'Omán': 33.87096774193548,
 'Palau': 32.25806451612903,
 'Curacao': 30.64516129032258,
 'Namibia': 30.64516129032258,
 'Kosovo': 30.64516129032258,
 'Guinea': 27.419354838709676,
 'Liberia': 27.419354838709676,
 'Mozambique': 27.419354838709676,
 'Timor-Leste': 27.419354838709676,
 'Bosnia y Herzegovina': 25.806451612903224,
 'Montenegro': 25.806451612903224,
 'Tayikistán': 25.806451612903224,
 'Afganistán': 24.193548387096776,
 'Sierra Leona': 24.193548387096776,
 'San Marino': 22.58064516129032,
 'Emiratos Árabes Unidos': 20.967741935483872,
 'Comoras': 20.967741935483872,
 'Kiribati': 20.967741935483872,
 'Líbano': 20.967741935483872,
 'Sudán del Sur': 20.967741935483872,
 'Sint Maarten (Dutch part)': 19.35483870967742,
 'Zimbabwe': 19.35483870967742,
 'Uzbekistán': 17.741935483870968,
 'Venezuela': 12.903225806451612,
 'Islas Caimán': 11.29032258064516,
 'Nueva Caledonia': 9.67741935483871,
 'Nauru': 3.225806451612903,
 'Tuvalu': 1.6129032258064515}

### Order information

In [17]:
auxDataframe = pd.DataFrame(columns=CPIworld.columns)
print(auxDataframe)


for i, u in zip(nanCountryOrder, range(len(nanCountryOrder))):
    rowAdd = {x:np.nan for x in CPIworld.columns}
    rowSelected = CPIworld[CPIworld["Country"] == i]

    for w in auxDataframe.columns:
        rowAdd[w] = rowSelected[w].values[0]
    
    new_df = pd.DataFrame([rowAdd])
    auxDataframe = pd.concat([auxDataframe, new_df], ignore_index=True)
    
CPIworld = auxDataframe
CPIworld = CPIworld.round(2)
CPIworld

C:\Users\matia\AppData\Local\Temp\ipykernel_27640\1890376020.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  auxDataframe = pd.concat([auxDataframe, new_df], ignore_index=True)

Empty DataFrame
Columns: [Country, Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 64 columns]

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,AUS,3.73,2.29,-0.32,0.64,2.87,3.41,3.29,3.48,...,1.76,2.45,2.49,1.51,1.28,1.95,1.91,1.61,0.85,2.86
1,Austria,AUT,1.95,3.54,4.38,2.71,3.87,4.93,2.05,3.97,...,2.49,2.00,1.61,0.90,0.89,2.08,2.00,1.53,1.38,2.77
2,Bélgica,BEL,0.30,0.99,1.40,2.15,4.17,4.07,4.17,2.73,...,2.84,1.11,0.34,0.56,1.97,2.13,2.05,1.44,0.74,2.44
3,Burkina Faso,BFA,7.79,18.56,1.68,5.57,1.85,-0.73,2.36,-4.33,...,3.82,0.53,-0.26,0.72,0.44,1.48,1.96,-3.23,1.88,3.65
4,Bolivia,BOL,11.53,7.56,5.88,-0.71,10.18,2.86,6.95,11.20,...,4.52,5.74,5.77,4.06,3.62,2.82,2.27,1.84,0.94,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Venezuela,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.07,40.64,62.17,121.74,254.95,NaN,NaN,NaN,NaN,NaN
235,Islas Caimán,CYM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.19,2.16,1.27,-2.35,-0.63,NaN,NaN,NaN,NaN,NaN
236,Nueva Caledonia,NCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.75,1.28,0.18,0.57,0.58,NaN,NaN,NaN,NaN,NaN
237,Nauru,NRU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### <font color="orange">Countrys that need more data</font>

In [18]:
CPIworld_extra = pd.DataFrame()

# <font color="green">Save changes</font>

In [19]:
CPIworld.to_csv("CPIworld.csv")

In [20]:
CPIworld[CPIworld["Country"] == "Mundo"]

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
144,Mundo,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.73,2.62,2.35,1.43,1.55,2.19,2.44,2.19,1.92,3.5

In [21]:
CPIworld

,Country,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,AUS,3.73,2.29,-0.32,0.64,2.87,3.41,3.29,3.48,...,1.76,2.45,2.49,1.51,1.28,1.95,1.91,1.61,0.85,2.86
1,Austria,AUT,1.95,3.54,4.38,2.71,3.87,4.93,2.05,3.97,...,2.49,2.00,1.61,0.90,0.89,2.08,2.00,1.53,1.38,2.77
2,Bélgica,BEL,0.30,0.99,1.40,2.15,4.17,4.07,4.17,2.73,...,2.84,1.11,0.34,0.56,1.97,2.13,2.05,1.44,0.74,2.44
3,Burkina Faso,BFA,7.79,18.56,1.68,5.57,1.85,-0.73,2.36,-4.33,...,3.82,0.53,-0.26,0.72,0.44,1.48,1.96,-3.23,1.88,3.65
4,Bolivia,BOL,11.53,7.56,5.88,-0.71,10.18,2.86,6.95,11.20,...,4.52,5.74,5.77,4.06,3.62,2.82,2.27,1.84,0.94,0.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Venezuela,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.07,40.64,62.17,121.74,254.95,NaN,NaN,NaN,NaN,NaN
235,Islas Caimán,CYM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.19,2.16,1.27,-2.35,-0.63,NaN,NaN,NaN,NaN,NaN
236,Nueva Caledonia,NCL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.75,1.28,0.18,0.57,0.58,NaN,NaN,NaN,NaN,NaN
237,Nauru,NRU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN