In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

from datetime import datetime, time, timedelta

In [2]:
CPIworld = pd.read_csv(r"C:\Users\matia\OneDrive\Documentos\Programacion\Data\Data inflation project\Clean\BA1Y\BA1Y_clean.csv")
CPIworld.drop(columns=["Unnamed: 0"], inplace=True)
CPIworld

           Date  Price   Open   High    Low  Change % Variation  OpenPrice
0    04/01/2023  35.70  34.94  36.39  32.53    0.0218     2.18%   1.021752
1    03/01/2023  34.94  39.40  40.91  32.95   -0.1078   -10.78%   0.886802
2    02/01/2023  39.16  34.75  39.83  33.34    0.1097    10.97%   1.126906
3    01/01/2023  35.29  37.58  38.10  33.73   -0.0902    -9.02%   0.939063
4    12/01/2022  38.79  35.94  39.05  34.02    0.0475     4.75%   1.079299
..          ...    ...    ...    ...    ...       ...       ...        ...
348  04/01/1994  70.35  69.08  71.76  67.79    0.0385     3.85%   1.018384
349  03/01/1994  67.74  61.68  68.52  61.42    0.1015    10.15%   1.098249
350  02/01/1994  61.50  56.51  62.11  55.83    0.0908     9.08%   1.088303
351  01/01/1994  56.38  57.96  59.00  55.41   -0.0251    -2.51%   0.972740
352  12/01/1993  57.83  58.13  58.47  56.22   -0.0021    -0.21%   0.994839

[353 rows x 8 columns]

## General vision

In [3]:
CPIworld.describe()

            Price        Open        High         Low    Change %   OpenPrice
count  353.000000  353.000000  353.000000  353.000000  353.000000  353.000000
mean    38.101048   38.211076   40.245156   36.314788    0.002733    1.001032
std     17.344904   17.371475   17.453728   17.142030    0.090626    0.089685
min      5.360000    5.590000    7.240000    3.980000   -0.380700    0.654171
25%     23.350000   23.830000   24.990000   21.870000   -0.044400    0.955220
50%     38.040000   37.510000   40.140000   35.260000    0.001100    0.999006
75%     50.430000   50.750000   53.270000   48.740000    0.044100    1.045571
max     78.880000   78.830000   81.620000   77.830000    0.335800    1.353105

<font style="font-size: 50px">Graphics</font>

In [4]:
plt.figure(figsize=(15, 6))

plt.bar(CPIworld.iloc[:, 40:].columns, CPIworld[CPIworld["Country"] == "Argentina"].iloc[:, 40:].values.flatten())

plt.xlabel("years")
plt.ylabel("inflation")

plt.title("Argentina inflation")

plt.show()

KeyError: 'Country'