In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt

from datetime import datetime, timedelta, date

In [5]:
Bono = pd.read_csv("D:\Programacion proyectos\Data proyect\Clean\BA1Y\BA1Y_clean.csv")
Bono.drop("Unnamed: 0", axis="columns", inplace=True)
Bono['Date'] = pd.to_datetime(Bono['Date'])
Bono.set_index('Date')

              Open   Close     Max     Min  Variation     %var
Date
2008-07-01   0.332   0.477   0.502   0.322     0.3947   39.47%
2008-08-01   0.443   0.281   0.463   0.276    -0.3584  -35.84%
2008-09-01   0.264   0.241   0.292   0.231    -0.0974   -9.74%
2008-10-01   0.108   0.113   0.116   0.093     0.0463    4.63%
2008-11-01   0.143   0.135   0.153   0.130    -0.0559   -5.59%
...            ...     ...     ...     ...        ...      ...
2022-12-01  26.800  26.010  26.980  25.750    -0.0334   -3.34%
2023-01-01  16.450  15.820  16.300  15.050    -0.0106   -1.06%
2023-02-01   0.109   0.112   0.122   0.086     0.0467    4.67%
2023-03-01   0.269   0.384   0.384   0.236     0.7376   73.76%
2023-04-01  47.840  47.330  47.270  45.800     0.0002    0.02%

[178 rows x 6 columns]

In [6]:
print(Bono, Bono.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       178 non-null    datetime64[ns]
 1   Open       178 non-null    float64
 2   Close      178 non-null    float64
 3   Max        178 non-null    float64
 4   Min        178 non-null    float64
 5   Variation  178 non-null    float64
 6   %var       178 non-null    object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 9.9+ KB
          Date    Open   Close     Max     Min  Variation     %var
0   2008-07-01   0.332   0.477   0.502   0.322     0.3947   39.47%
1   2008-08-01   0.443   0.281   0.463   0.276    -0.3584  -35.84%
2   2008-09-01   0.264   0.241   0.292   0.231    -0.0974   -9.74%
3   2008-10-01   0.108   0.113   0.116   0.093     0.0463    4.63%
4   2008-11-01   0.143   0.135   0.153   0.130    -0.0559   -5.59%
..         ...     ...     ...     ...     ...        ...      ...
173 2022-12-01  26.800  26.010  26.980  25.750    -0.0334   -3.34%
174 2023-01-01  16.450  15.820  16.300  15.050    -0.0106   -1.06%
175 2023-02-01   0.109   0.112   0.122   0.086     0.0467    4.67%
176 2023-03-01   0.269   0.384   0.384   0.236     0.7376   73.76%
177 2023-04-01  47.840  47.330  47.270  45.800     0.0002    0.02%

[178 rows x 7 columns] None

In [7]:
month = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "dicember"]
for i in range(1, 12+1):
        globals()[f'Bono_{month[i-1]}'] = pd.DataFrame(Bono[Bono['Date'].dt.month == i]).set_index('Date')

In [8]:
Bono_january

              Open   Close     Max     Min  Variation     %var
Date
2009-01-01   0.219   0.147   0.249   0.143    -0.3194  -31.94%
2010-01-01   0.113   0.161   0.179   0.113     0.4248   42.48%
2011-01-01   0.682   0.547   0.731   0.537    -0.1979  -19.79%
2012-01-01   0.084   0.063   0.096   0.058    -0.2025  -20.25%
2013-01-01  20.980  22.390  22.690  20.480     0.0713    7.13%
2014-01-01   0.227   0.250   0.252   0.187     0.0776    7.76%
2015-01-01   0.137   0.146   0.160   0.114     0.0657    6.57%
2016-01-01   0.323   0.283   0.333   0.242    -0.1044  -10.44%
2017-01-01  27.740  29.740  31.520  26.790     0.0659    6.59%
2018-01-01  20.110  17.730  18.730  16.990    -0.1162  -11.62%
2019-01-01   0.608   0.593   0.614   0.555    -0.0050   -0.50%
2020-01-01   0.088   0.096   0.129   0.088     0.0667    6.67%
2021-01-01   0.204   0.261   0.289   0.196     0.2488   24.88%
2022-01-01  46.740  47.320  47.630  45.510     0.0205    2.05%
2023-01-01  16.450  15.820  16.300  15.050    -0.0106   -1.06%